.categories {
  background-color: #f9f9f9;
}

.categories__wrapper {
  background-image: url(../img/categories-bg-mobile.jpg);
  background-position: center -20px;
  background-repeat: no-repeat;
  background-size: auto 373px;

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: url(../img/categories-bg-mobile@2.jpg);
  }
}

.categories__header {
  box-sizing: border-box;
  min-height: 282px;
  padding: 70px 30px 60px;
}

.categories__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.categories__list {
  @include ul-reset;
}

.categories__link {
  display: block;
  position: relative;
  padding: 25px 30px 30px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  background-color: #63d1bb;

  &::after {
    content: url(../img/categories-lamp.svg);
    position: absolute;
    top: 20px;
    right: 35px;
    opacity: 0.5;
  }

  &--dark {
    background-color: #55c3b2;
  }

  &--dark::after {
    content: url(../img/categories-cube.svg);
    right: 27px;
  }

  &:focus,
  &:hover {
    background-color: #58d5bc;
  }

  &:active{
    color: rgba(255, 255, 255, 0.3);
  }

  &:focus::after,
  &:hover::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }

  &--dark:focus,
  &--dark:hover {
    background-color: #45c1ae;
  }
}

@media (min-width: $tablet-width) {
  .categories {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 24px;
      background-image: url(../img/border-wave.svg);
      background-repeat: repeat-x;
      background-position: top;
      background-size: auto 24px;
    }
  }

  .categories__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 768px;
    height: 746px;
    padding: 0 50px;
    margin: 0 auto;
    background-image: url(../img/categories-bg.jpg);
    background-position: center top;
    background-size: auto;
  }

  .categories__header {
    box-sizing: border-box;
    min-height: 282px;
    padding: 150px 0 0;
  }

  .categories__title {
    font-size: 43px;
    line-height: 50px;
  }

  .categories__list {
    display: flex;
    align-items: flex-end;
  }

  .categories__item {
    width: 50%;
  }

  .categories__link {
    position: relative;
    padding: 30px 35px;

    &::after {
      top: 28px;
    }

    &--dark::after {
      right: 35px;
    }

    &:hover {
      top: -5px;
    }
  }

  .categories__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .categories::after {
    background-size: auto 34px;
  }

  .categories__wrapper {
    width: 1150px;
  }

  .categories__title {
    font-size: 53px;
    line-height: 57px;
  }

  .categories__link {
    padding: 30px 35px;
  }
}
