.page-footer {
  background-color: $grey;
}

.page-footer__wrapper {
  padding: 10px 30px 15px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo svg{
  display: block;
  fill: #231f20;
}

.page-footer__logo:focus svg,
.page-footer__logo:hover svg {
  fill: $hover-green;
}

.page-footer__logo:active svg {
  opacity: 0.3;
}

.page-footer__socials{
  padding-bottom: 10px;
  border-bottom: 1px solid $border-grey;
}

.page-footer__copyright {
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

.page-footer__copyright-text {
  margin-left: 10px;
  font-size: 18px;
  line-height: 18px;
}

.page-footer__copyright-link {
  display: inline-block;
  padding: 10px;
  margin-left: 15px;
  vertical-align: middle;
}

.page-footer__copyright-link img {
  display: block;
  opacity: 0.8;
}

.page-footer__copyright-link:focus img,
.page-footer__copyright-link:hover img {
  opacity: 1;
}

.page-footer__copyright-link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 768px;
    padding: 40px 40px 45px;
    margin: 0 auto;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__logo-link {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
  }

  .page-footer__socials{
    padding-bottom: 0;
    border-bottom: none;
  }

  .page-footer__copyright {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1150px;
  }
}
