.page-header__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    border-bottom: 1px solid #e6e6e6;
  }

  .page-header__wrapper {
    position: relative;
    box-sizing: border-box;
    width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .page-header__delivery {
    position: absolute;
    z-index: 1;
    bottom: -60px;
    right: 50px;
    line-height: 60px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: 1150px;
  }
}
