.reviews__wrapper {
  position: relative;
  padding: 55px 30px 45px;
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}

.reviews__text {
  margin: 0;
  margin-top: 25px;
  color: $dark-grey;
}

.reviews__author {
  margin: 0;
  margin-top: 25px;
  font-size: 17px;
}

.reviews__author-name {
  line-height: 24px;
}

.reviews__author-contact {
  display: block;
  line-height: 30px;
  color: $dark-grey;
}

.reviews__controls {
  display: flex;
  margin: 0;
  margin-top: 30px;
}

.reviews__controls-button {
  position: relative;
  box-sizing: border-box;
  height: 50px;
  width: 50%;
  padding: 0;
  background-color: transparent;
  border: 1px solid #ebebeb;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #f5f5f5;
  }

  &--next::after {
    border-left: none;
  }

  &--prev::after {
    border-right: none;
  }

  &:focus,
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__controls-button svg {
  vertical-align: middle;
}

.reviews__button {
  margin-top: 35px;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    box-sizing: border-box;
    width: $tablet-width;
    margin: 0 auto;
    padding: 80px 0 70px;
  }

  .reviews__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 75px 50px 45px;
    background-image: url("../img/global/reviews-bg.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/global/reviews-bg@2x.jpg");
    }
  }

  .reviews__title {
    order: 1;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__text {
    order: 3;
    margin-top: 50px;
    font-size: 17px;
  }

  .reviews__author {
    order: 4;
    margin-top: 55px;
  }

  .reviews__author-name {
    font-size: 18px;
  }

  .reviews__controls {
    order: 5;
    width: 170px;
    margin-bottom: 5px;
    align-self: flex-end;
  }

  .reviews__controls-button {
    border: none;

    &::after {
      content: none;
    }
  }

  .reviews__button {
    order: 2;
    margin: 0;
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    padding: 90px 50px 65px;
    width: $desktop-width;
  }

  .reviews__inner {
    padding: 70px 0 95px 175px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    margin-top: 50px;
  }

  .reviews__author {
    order: 4;
    margin-top: 35px;
  }
}
