.button {
  display: block;
  box-sizing: border-box;
  padding: 15px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-grey;
  background-color: transparent;
  border: 2px solid $dark-grey;
  box-shadow: inset 0 0 0 1px #a1a1a1;

  &:focus,
  &:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: $dark-grey;
    box-shadow: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
